/* carroitem.css */

.carroItem {
  display: flex;
  align-items: center;
  padding: 10px;
  border: 1px solid #ccc;
  margin-bottom: 10px;
  background-color: #f8f8f8;
}

.carroItem img {
  width: 100px;
  height: 100px;
  margin-right: 15px;
}

.descripcion {
  flex-grow: 1;
}

.descripcion p {
  margin: 0;
}

.descripcion p b {
  color: #e44d26; /* Color rojo, típico de la salsa de tomate */
}

.precios {
  color: #1e7e34; /* Color verde, típico de las verduras en la pizza */
}

.contador {
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.contador button {
  background-color: #f8f8f8;
  border: 1px solid #ccc;
  color: #333;
  cursor: pointer;
  font-size: 16px;
  padding: 5px 10px;
}

.contador input {
  width: 40px;
  text-align: center;
  font-size: 14px;
  margin: 0 10px;
  border: 1px solid #ccc;
  padding: 5px;
  outline: none;
}

/* Puedes ajustar estos estilos según tus preferencias y diseño específico */
